[Unit]
Description=KVM Manager virtual guest management script for %i
# First start the guest, then launch the screen session that will log it.
Wants=kvm-screen@%i.service
Before=kvm-screen@%i.service

[Service]
PermissionsStartOnly=true
User=%i
ExecStartPre=/usr/local/sbin/kvm-setup %i
ExecStart=/usr/local/sbin/kvm-start %i
ExecStop=/usr/local/sbin/kvm-stop %i
ExecStopPost=/usr/local/sbin/kvm-teardown %i
Restart=always

[Install]
WantedBy=multi-user.target
